* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.contain {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding: 15px 40px;
}
.navbar__title {
  font-family: "Open Sans";
  font-size: 20px;
  color: var(--colorBlack);
}
.navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}
.navbar__right-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 60%;
  justify-content: end;
  gap: 10px;
  max-width: 400px;
}
.navbar__day-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar__day-box:active svg {
  animation-name: sit;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.navbar__day-box-second {
  position: absolute;
  top: -35px;
}
.navbar__night {
  color: var(--white);
  position: relative;
  left: 10px;
  visibility: hidden;
}
.navbar__day {
  position: relative;
  color: var(--colorBlack);
}
.navbar__night, .navbar__day {
  position: relative;
  right: 8px;
}
.navbar__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--colorUserOpacity);
  padding: 5px;
  border-radius: 50px;
  border: 1px solid var(--colorUser);
}
.navbar__profile:hover {
  opacity: 0.8;
}
.navbar__profile:active {
  opacity: 1;
}
.navbar__profile svg {
  color: var(--colorBlack);
}
.navbar__burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3px;
  display: none;
}
.navbar__burger:hover {
  opacity: 0.8;
}
.navbar__burger:active {
  opacity: 1;
}
.navbar__burger-items {
  width: 22px;
  height: 2px;
  background-color: var(--colorBlack);
  border-radius: 2px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar__link {
  font-family: "Open Sans";
  color: var(--colorBlack);
}
.navbar__link:hover {
  opacity: 0.8;
}
.navbar__link:active {
  opacity: 1;
}
.navbar__box-phone {
  position: relative;
  right: 0px;
  width: 60%;
  max-width: 250px;
  height: 80vh;
  display: none;
  background-color: var(--colorGray);
  border-radius: 3px;
  visibility: hidden;
  border: 1px solid var(--colorUser);
  max-height: 200px;
}
.navbar__box-phone-main {
  position: relative;
  top: 50px;
}
.navbar__close {
  color: var(--colorBlack);
  display: none;
}
.navbar__profile-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute !important;
  top: 60px;
  justify-content: start;
  align-items: center;
  position: relative;
  right: 0px;
  width: 100%;
  max-width: 250px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--colorGray);
  border: 1px solid var(--colorUser);
  border-radius: 5px;
  z-index: 3;
  display: none;
}
.navbar__profile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-items: start;
}
.navbar__profile-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.navbar__profile-bottom textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 80px;
  max-height: 400px;
  outline: none;
  padding: 2px 5px;
  font-family: "Open Sans";
  font-size: 14px;
  border: none;
}
.navbar__profile-button {
  background-color: rgb(28, 168, 28);
  color: white;
  padding: 5px 15px;
  border: none;
  font-family: "Open Sans";
  border-radius: 3px;
}
.navbar__profile-button:hover {
  opacity: 0.8;
}
.navbar__profile-button:active {
  opacity: 1;
}
.navbar__profile-choose-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.navbar__profile-choose-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
}
.navbar__profile-color-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: start;
  gap: 4px;
}
.navbar__profile-colors {
  opacity: 0.8;
  width: 20px;
  height: 20px;
}
.navbar__profile-colors:hover {
  opacity: 1;
}
.navbar__profile-colors:active {
  opacity: 0.8;
}
.navbar__profile-colors:nth-child(1) {
  background-color: var(--colorUser);
}
.navbar__profile-colors:nth-child(2) {
  background-color: var(--colorUserGreen);
}
.navbar__profile-colors:nth-child(3) {
  background-color: var(--colorUserYellow);
}
.navbar__profile-colors:nth-child(4) {
  background-color: var(--colorUserPurple);
}
.navbar__profile-colors:nth-child(5) {
  background-color: var(--colorUserBlack);
}
.navbar__profile-secondary-colors:nth-child(1) {
  background-color: var(--colorUserOpacity);
}
.navbar__profile-secondary-colors:nth-child(2) {
  background-color: var(--colorUserGreenOpacity);
}
.navbar__profile-secondary-colors:nth-child(3) {
  background-color: var(--colorUserYellowOpacity);
}
.navbar__profile-secondary-colors:nth-child(4) {
  background-color: var(--colorUserPurpleOpacity);
}
.navbar__profile-secondary-colors:nth-child(5) {
  background-color: var(--colorUserBlackOpacity);
}
.navbar__profile-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--colorBlack);
}
.navbar__profile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.navbar__profile-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 70px;
}
.navbar__profile-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 15px;
  border-bottom: 1px solid #131A22;
  padding: 0px 0px 10px 0px;
}
.navbar__text-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  color: rgb(127, 127, 127);
}
.navbar__profile-sub {
  font-family: "Open Sans";
  font-size: 12px;
  color: #131A22;
  line-height: normal;
  height: auto;
}

@media (max-width: 650px) {
  .navbar {
    padding: 15px 10px;
  }
  .navbar__title {
    font-size: 16px;
  }
  .navbar__right-box {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
  .navbar__list {
    flex-direction: column;
  }
  .navbar__profile {
    position: absolute;
    top: -45px;
    right: 5px;
  }
  .navbar__profile-second {
    position: static !important;
  }
  .navbar__profile-user {
    position: static !important;
  }
  .navbar__profile-choose {
    width: 90%;
    max-height: none;
  }
}
.main {
  flex-grow: 1;
  z-index: 1;
  padding: 40px;
}
.main__loader {
  position: absolute;
  bottom: 17px;
  right: 63px;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  color: var(--white);
  visibility: hidden;
  z-index: 3;
}

.profileform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 30px 0px;
}
.profileform__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 3000px;
  justify-content: start;
  gap: 13px;
  flex-direction: column;
  align-items: start;
  padding: 25px 100px 65px 5px;
  border-radius: 5px;
  background-color: var(--colorGray);
  border: 1px solid var(--colorUser);
  display: none;
}
.profileform__boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}
.profileform__text {
  position: relative;
  top: 24px;
  left: 5px;
  font-family: "Open Sans";
  font-size: 12px;
  color: #131A22;
}
.profileform__textid {
  position: relative;
  font-family: "Open Sans";
  font-size: 12px;
  color: #131A22;
}
.profileform__textid-second {
  position: absolute;
  left: 10px;
  top: 10px;
}
.profileform__textidlink {
  position: absolute;
  bottom: 20px;
  right: 150px;
  color: var(--colorUser);
}
.profileform__textidlink:hover {
  text-decoration: underline;
}
.profileform__input {
  width: 100%;
  height: 30px;
  padding: 3px 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 14px;
  box-shadow: 0px 0px 20px -10px var(--colorOpacityBlack);
}
.profileform__button {
  background-color: rgb(28, 168, 28);
  color: white;
  padding: 10px 20px;
  border: none;
  font-family: "Open Sans";
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 128px;
}
.profileform__button:hover {
  opacity: 0.8;
}
.profileform__button:active {
  opacity: 1;
}
.profileform__textarea {
  max-width: 500px !important;
  min-width: 150px;
  min-height: 50px;
  max-height: 200px;
}
.profileform__textarea-box {
  width: 90%;
}

@media (max-width: 650px) {
  .main {
    width: 100%;
    padding: 10px;
  }
  .profileform {
    justify-content: start;
    padding: 15px 0px;
  }
  .profileform__form {
    width: 100%;
  }
  .profileform__textarea {
    width: 90%;
    max-width: 130px !important;
    max-width: none;
    min-width: 50px;
  }
  .profileform__textidlink {
    position: absolute;
    bottom: 45px;
    left: 5px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorBlack);
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 30px;
}
.footer__text {
  font-family: "Open Sans";
  color: rgb(236, 236, 236);
}

@media (max-width: 650px) {
  .footer__box {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  right: 150px;
  align-items: start;
  flex-direction: column;
  justify-content: start !important;
  background-color: var(--colorDarkGray);
  padding: 10px;
  z-index: 4;
  border-radius: 5px;
  visibility: hidden;
}
.about__box {
  padding: 5px 0px;
}
.about__box svg {
  width: 30px;
  height: 30px;
}
.about__text {
  position: relative;
  bottom: 3px;
  font-family: "Open Sans";
  font-size: 14px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.task__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 70%;
  flex-direction: column;
  background-color: var(--colorGray);
  align-items: start;
  padding: 20px 15px;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid var(--colorUser);
}
.task__boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  width: 100%;
  gap: 10px;
}
.task__icons {
  width: 30px;
  height: 30px;
  color: var(--colorGreen);
}
.task__sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.task__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
}
.task__level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.task__level-warning {
  padding: 3px 0px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 15px;
  color: var(--colorOpacityBlack);
  font-weight: 500;
}
.task__level-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: start;
  gap: 10px;
}
.task__levels-text {
  padding: 3px 5px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  font-weight: 600;
  opacity: 0.4;
}
.task .low, .task .medium, .task .high {
  position: absolute;
  right: 10px;
  top: 13px;
  opacity: 1 !important;
}
.task .low {
  background-color: var(--colorGreen) !important;
}
.task .medium {
  background-color: rgb(255, 140, 0) !important;
}
.task .high {
  background-color: red !important;
}
.task__levels-text:nth-child(1) {
  background-color: var(--colorGreen);
}
.task__levels-text:nth-child(2) {
  background-color: rgb(255, 140, 0);
}
.task__levels-text:nth-child(3) {
  background-color: red;
}
.task__button {
  background-color: var(--colorUser);
  color: white;
  padding: 10px 20px;
  border: none;
  font-family: "Open Sans";
  width: 100%;
  border-radius: 4px;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.task__button:hover {
  opacity: 0.8;
}
.task__button:active {
  opacity: 1;
}
.task__inputs {
  width: 100%;
  outline: none;
  padding: 8px 3px;
  border: 1px solid var(--colorUser);
  font-family: "Open Sans";
  font-size: 12px;
  color: var(--colorDarkGray);
  border-radius: 4px;
}
.task__inputs::-moz-placeholder {
  color: var(--colorDarkGray);
}
.task__inputs::placeholder {
  color: var(--colorDarkGray);
}
.task__textarea {
  width: 100%;
  height: 100%;
  min-height: 50px;
  max-height: 120px;
  max-width: 100%;
  min-width: 250px;
  outline: none;
  padding: 8px 3px;
  border: 1px solid var(--colorUser);
  font-family: "Open Sans";
  font-size: 12px;
  color: var(--colorDarkGray);
  border-radius: 4px;
}
.task__title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 100;
  color: var(--colorBlack);
}
.task__text {
  font-family: "Open Sans";
  font-size: 14px;
  color: var(--colorOpacityBlack);
}
.task__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: var(--colorGray);
  flex-grow: 2;
  max-width: 2570px;
  padding: 20px 0px;
  border-radius: 5px;
  border: 1px solid var(--colorUser);
  width: 70%;
}
.task__right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px 14px 35px;
  border-bottom: 1px solid var(--colorOpacityBlack);
}
.task__right-icons {
  width: 50px;
  height: 50px;
  color: var(--colorUser);
}
.task__right-title {
  font-family: "Open Sans";
}
.task__right-top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start !important;
  gap: 5px;
}
.task__right-text, .task__trash-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  font-family: "Open Sans";
  font-size: 14px;
  background-color: var(--colorUser);
  padding: 4px 5px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  opacity: 0.8;
}
.task__right-text-second {
  background-color: var(--colorGreen);
}
.task__right-text-third {
  background-color: var(--colorGreen);
}
.task__right-text-fiveth {
  background-color: rgb(255, 140, 0);
}
.task__right-text-fourth {
  background-color: red;
}
.task__trash-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: -30px;
  right: 0px;
  min-width: 90px;
  color: var(--colorBlack);
  background-color: var(--colorUserOpacity);
}
.task__items-text-span {
  background-color: var(--colorUser);
  padding: 2px 6px;
  border-radius: 2px;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
.task__hide-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: var(--colorUser);
  padding: 2px 15px;
  border-radius: 2px;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
}
.task__hide-text:hover {
  opacity: 0.8;
}
.task__hide-text:active {
  opacity: 1;
}
.task__right-inputform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 35px;
}
.task__right-input, .task__trash-input {
  font-family: "Open Sans";
  padding: 8px 4px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px -10px var(--colorOpacityBlack);
}
.task__trash-input {
  position: relative;
  width: 35px;
  height: 23px;
  padding: 4px 0px;
}
.task__right-top-trash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: end;
  position: relative;
  gap: 5px;
  flex-grow: 2;
}
.task__right-input-label {
  padding: 10px 12px;
  border-radius: 4px;
  font-family: "Open Sans";
  color: var(--white);
  background-color: var(--colorUser);
}
.task__right-input-label:hover {
  opacity: 0.8;
}
.task__right-input-label:active {
  opacity: 1;
}
.task__right-top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task__remove {
  width: 20px;
  height: 23px;
}
.task__remove:hover {
  opacity: 0.8;
}
.task__remove:active {
  opacity: 1;
}
.task__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 0px 35px;
}
.task__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: var(--white);
  padding: 4px 10px;
  min-height: 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px -14px var(--colorOpacityBlack);
}
.task__search-span-text {
  color: var(--colorUserYellow);
}
.task__items-text {
  font-family: "Open Sans";
  font-weight: 700;
  max-width: 700px;
  width: 70%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px;
  line-height: 24px;
}
.task__high-text {
  color: var(--colorUserYellowOpacity);
}
.task__items-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .task {
    flex-wrap: wrap;
  }
  .task__left {
    width: 100%;
    max-width: none;
  }
  .task__textarea {
    min-width: 100px;
  }
  .task__right-top {
    gap: 35px;
    justify-content: end;
    flex-wrap: wrap;
    padding: 0px 15px 14px 15px;
  }
  .task__right-top-box {
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3px;
  }
  .task__right-title {
    width: 80%;
  }
  .task__right-inputform {
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  .task__right-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
  }
  .task__main {
    padding: 0px 15px;
  }
}/*# sourceMappingURL=style.css.map */