.wrapper {
  @include display();
  align-items: start;
  // flex-direction: column;
  // height: 100vh;
  max-width: 3000px;
  margin: auto;
  gap: 20px;
  margin-top: 13%;
  padding: 0px 20px;
  flex-wrap: wrap
}

.form {
  @include display();
  // @include bg();
  flex-direction: column;
  align-items: start;
  background-color: rgba(28, 36, 42, 0.7);
    backdrop-filter: blur(10px);
  padding: 20px 20px;
  gap: 30px;
  border-radius: 20px;
  display: none;

  &__title {
    font-family: "Open Sans";
    color: white;
  }

  &__title-span {
    color: $blue;
  }

  &__boxes {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    font-family: "Open Sans";
    flex-wrap: wrap;
  }

  &__inputs {
    width: 100%;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    border-radius: 5px;
    color: $color;
    outline: none;
    background-color: $colorCardsBg;
    border: 1px solid $colorCardsBg;
    // border-bottom : 1px solid gray;
  }

  &__button {
    @include button();
    @include hover();
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: $blue;
    color: white;
    font-weight: 500;
    
  }

  &__text {
    font-family: "Open Sans";
    color:  rgb(91, 91, 91);
  }
}


 .display {
  display: flex;
}

.show {
  animation-name: show;
  animation-duration: 1s;
}

.show-form {
  animation-name: show;
  animation-duration: 1s;
}

.exit {
  animation-name: exit;
  animation-duration: 1s;
}

.warning {
  animation-name: warning;
  animation-duration: 0.5s;
  color: red;
}

.input-warning {
  border: 1px solid red;
}

@keyframes warning {
  0%{
    transform: translateX(0px);
  }25%{
    transform: translateX(10px);
  }50%{
    transform: translateX(0px);
  }75%{
    transform: translateX(10px);
  }100%{
    transform: translateX(0px);
  }
}

@keyframes show {
  0%{
    visibility: hidden;
    transform: translateY(-30px);  
  }100%{
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes exit {
  0%{
    visibility: hidden;
    transform: translateY(0px);
  }100%{
    visibility: visible;
    transform: translateY(-30px);
  }
}




