.wrapper {
  @include display();
  align-items: start;
  // flex-direction: column;
  // height: 100vh;
  max-width: 3000px;
  margin: auto;
  gap: 20px;
  margin-top: 13%;
  padding: 0px 20px;
  flex-wrap: wrap
}

.form {
  @include display();
  // @include bg();
  flex-direction: column;
  align-items: start;
  background: $dark;
  padding: 20px 20px;
  gap: 30px;
  border-radius: 20px;

  &__title {
    font-family: "Open Sans";
    color: white;
  }

  &__title-span {
    color: $blue;
  }

  &__boxes {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    font-family: "Open Sans";
    flex-wrap: wrap;
  }

  &__inputs {
    border: none;
    width: 100%;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    border-radius: 5px;
    color: $color;
    outline: none;
    background-color: $colorCardsBg;
    // border-bottom : 1px solid gray;
  }

  &__button {
    @include button();
    @include hover();
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: $blue;
    color: white;
    font-weight: 500;
    
  }

  &__text {
    font-family: "Open Sans";
    color:  rgb(91, 91, 91);
  }
}

.exit {
  animation-name: exit;
  animation-duration: 1s;

}
