*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color: rgb(17, 17, 17);
$colorBg: rgb(8, 14, 18);
$colorCardsBg: #d7d7d7cd;
$dark: rgb(28, 36, 42);
$gray: rgb(136, 136, 136);
$blue: rgb(39, 120, 220);


body {
  background-color: $colorBg;
}

@keyframes show {
  0%{
    transform: translateY(-30px);  
  }100%{
    transform: translateY(0px);
  }
}

@keyframes exit {
  0%{
    transform: translateY(0px);
  }100%{
    transform: translateY(-30px);
  }
}