*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color: rgb(17, 17, 17);
$colorBg: rgb(8, 14, 18);
$colorCardsBg: #d7d7d7cd;
$dark: rgb(28, 36, 42);
$gray: rgb(136, 136, 136);
$blue: rgb(39, 120, 220);


body {
  background-color: $colorBg;
}

 .display {
  display: flex;
}

.show {
  animation-name: show;
  animation-duration: 1s;
}

.show-form {
  animation-name: show;
  animation-duration: 1s;
}

.exit {
  animation-name: exit;
  animation-duration: 1s;
}

.warning {
  animation-name: warning;
  animation-duration: 0.5s;
  color: red;
}

.input-warning {
  border: 1px solid red;
}

@keyframes warning {
  0%{
    transform: translateX(0px);
  }25%{
    transform: translateX(10px);
  }50%{
    transform: translateX(0px);
  }75%{
    transform: translateX(10px);
  }100%{
    transform: translateX(0px);
  }
}

@keyframes show {
  0%{
    visibility: hidden;
    transform: translateY(-30px);  
  }100%{
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes exit {
  0%{
    visibility: hidden;
    transform: translateY(0px);
  }100%{
    visibility: visible;
    transform: translateY(-30px);
  }
}