.profile {
  @include display();
  flex-direction: column;
  padding: 30px 20px;
  background-color: rgba(28, 36, 42, 0.7);
    backdrop-filter: blur(10px);
  gap: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 430px;
  // height: 100px;
  // display: none;

  &__top {
    @include display();
    flex-direction: column;
    gap: 10px;
  }

  &__form-wrap {
    flex-wrap: wrap;
    justify-content: start !important
  }

  &__top-weathers {
    @include display();
    gap: 10px;
    flex-wrap: wrap
  }

  &__top-choose {
    @include display();
    @include hover();
    height: 55px;
    width: 55px;
    background-color: $colorBg;
    border-radius: 10px;
    opacity: 0.6;
  }

  &__top-title {
    font-family: "Open Sans";
    color: white;
    text-align: center
  }

  &__weather-form {
    @include display();
    width:100%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    // background-color: red;
  }

  &__form-boxes {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start !important;
    gap: 5px;
    flex-wrap: wrap;
  }

  &__form-text {
    font-family: "Open Sans";
    color: $gray;
    font-size: 18px;
  }

  &__inputs {
    font-family: "Open Sans";
    // background-color: red;
    flex-grow: 1;
    width: 100%;
    max-width: 330px;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    background-color: $colorCardsBg;
    color: $colorBg;
    border-radius: 5px;
    outline: none;
    border: 1px solid $colorCardsBg;
  }

  &__form-label {
    @include display();
    // background-color: red;
    color: $gray;
    font-family: "Open Sans";
    font-size: 20px;  
  }

  &__form-card {
    @include display();
    gap: 3px;
    width: 100% !important;
    // background-color: red;
    justify-content: start
  }

  &__form-been {
    @include display();
    position: relative;
    top: 10px;
    left: 10px;
    gap: 5px; 
  }

  &__form-been-text {
    font-family: "Open Sans";
    color: $gray;
    font-size: 18px;
  }

  &__form-box-title {
    font-family: "Open Sans";
    // color: rgb(232, 232, 232);
    color: $blue;
    font-size: 20px;
    font-weight: 500;
  }

  &__form-button {
    @include button();
    @include hover();
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: $blue;
    color: white;
    font-weight: 500;
  }


}

.choose {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

 .display {
  display: flex;
}

.show {
  animation-name: show;
  animation-duration: 1s;
}

.show-form {
  animation-name: show;
  animation-duration: 1s;
}

.exit {
  animation-name: exit;
  animation-duration: 1s;
}

.warning {
  animation-name: warning;
  animation-duration: 0.5s;
  color: red;
}

.input-warning {
  border: 1px solid red;
}

@keyframes warning {
  0%{
    transform: translateX(0px);
  }25%{
    transform: translateX(10px);
  }50%{
    transform: translateX(0px);
  }75%{
    transform: translateX(10px);
  }100%{
    transform: translateX(0px);
  }
}

@keyframes show {
  0%{
    visibility: hidden;
    transform: translateY(-30px);  
  }100%{
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes exit {
  0%{
    visibility: hidden;
    transform: translateY(0px);
  }100%{
    visibility: visible;
    transform: translateY(-30px);
  }
}