.result {
  @include display();
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  // backdrop-filter: blur(10px);
  // display: none;
  position: relative;
  &__top {
    @include display();
    width: 100%;
    justify-content: space-between;
    background-color: rgba(28, 36, 42, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px 20px 60px 20px;
    // backdrop-filter: blur(20px);

  }

  &__title {
    position: absolute;
    font-family: "Open Sans";
    bottom: 10px;
    right: 20px;
    color: white;
    max-width: 200px;
    overflow: auto;
    overflow-y: hidden;
  }

  &__title::-webkit-scrollbar{
    display: none;
  }

  &__top-left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__top-text, &__items-top-text {
    @include display();
    gap: 5px; 
    font-family: "Open Sans";
    color: white;
    font-weight: 500;
  }

  &__top-degree {
    font-family: "Open Sans";
    color: $blue;
    font-size: 80px;
  }

  &__top-box {
    @include display();
    gap: 3px;
  }

  &__top-right {
    svg {
      width: 100%;
      max-width: 200px !important;
      height: 200px !important;
      position: relative;
      top: -100px;
    }

  }

  &__top-span {
    font-size: 25px;
    color: $blue;
    font-family: "Open Sans";
    line-height: 10px;
  }
  &__bottom {
    @include display();
    width: 100%;
    background-color: rgba(28, 36, 42, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
  }

  &__bottom-cards{
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__bottom-cards-box {
    @include display();
    width: 100%;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__bottom-cards-title{
    font-family: "Open Sans";
    color: white;
  }

  &__bottom-items {
    @include display();
    @include animate();
    @include hover();
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 5px;
    background-color: rgba(55, 66, 80, 0.1);
    backdrop-filter: blur(5px)
  }

  &__bottom-items-box {
    @include display();
    gap: 3px;
  }

  &__bottom-items-title {
    font-family: "Open Sans";
    color: white;
    font-size: 30px;
  }


}

 .display {
  display: flex;
}

.show {
  animation-name: show;
  animation-duration: 1s;
}

.show-form {
  animation-name: show;
  animation-duration: 1s;
}

.exit {
  animation-name: exit;
  animation-duration: 1s;
}

.warning {
  animation-name: warning;
  animation-duration: 0.5s;
  color: red;
}

.input-warning {
  border: 1px solid red;
}

@keyframes warning {
  0%{
    transform: translateX(0px);
  }25%{
    transform: translateX(10px);
  }50%{
    transform: translateX(0px);
  }75%{
    transform: translateX(10px);
  }100%{
    transform: translateX(0px);
  }
}

@keyframes show {
  0%{
    visibility: hidden;
    transform: translateY(-30px);  
  }100%{
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes exit {
  0%{
    visibility: hidden;
    transform: translateY(0px);
  }100%{
    visibility: visible;
    transform: translateY(-30px);
  }
}
