.search {
  @include display();
  padding: 1%;
  justify-content: start;

  &__input {
    outline: none;
    border: none;
    padding: 10px;
    width: 80%;
    font-family: "Open Sans";
    border-radius: 50px;
    font-size: 16px;
    background-color: $dark;
    color: $colorCardsBg;
    opacity: 0.9;
    backdrop-filter: blur(3px);
  }
}