.userprofile {
  @include display();
  position: absolute;
  top: 2%;
  right: 3%;
  gap: 10px;
  // background-color: red;

  &__text, &__label {
    position: relative;
    left: 10px;
    font-family: "Open Sans";
    color: white;
  }

  &__show {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    position: absolute;
    top: 40px;
    right: 3%;
    z-index: 2;
    background-color: rgba(28, 36, 42, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    visibility: hidden;
  }

  &__label {
    position: static;
    font-size: 12px;
    color: gray;
  }

  &__box {
    z-index: 2;
    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 1;
    }
  }

  .showuser {
    animation-name: showuserprofile;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes showuserprofile {
  0%{
    visibility: visible;
    transform: translateY(-10px);
  }100%{
    visibility: visible;
    transform: translateY(0px);
  }
}