.weathers {
  position: absolute;
  top: 40vh;
  width: 100%;
  right: 0px ;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.3;

  svg {
    position: absolute !important;
    top: -40vh;
    width: auto;
    height: 100vh;
    right: 0px;
  }

  &__item {
    visibility: hidden;
  }

    // &__item:nth-child(1) {
    //   animation-name: showWeather;
    //   animation-duration: 10s;
    //   animation-timing-function: ease-in-out;
    //   // animation-iteration-count: infinite;
    // }

  &__item:nth-child(1) {
    animation-name: showWeather;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    // animation-delay: 10s;
    animation-iteration-count: infinite;
  }
  &__item:nth-child(2) {
    animation-name: showWeather;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-iteration-count: infinite;

  }

}


@keyframes showWeather {
  0%{
    visibility: visible;
    transform: translateX(0px);
  }50%{
    visibility: visible;
    transform: translateX(-30%);
  }100%{
    visibility: visible;
    transform: translateX(0px);
  }
}