.task {
  @include display();
  padding: 20px 0px;
  align-items: start;
  justify-content: center;
  gap: 30px;

  &__left {
    @include display();
    position: relative;
    top: 70%;
    flex-direction: column;
    background-color: var(--colorGray);
    align-items: start;
    padding: 20px 15px;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid var(--colorUser);
  }

  &__boxes {
    @include display();
    justify-content: start;
    width: 100%;
    gap: 10px;
  }

  &__icons {
    width: 30px;
    height: 30px;
    color: var(--colorGreen);
  }

  &__sections {
    @include display();
    flex-direction: column;
    align-items: start;
  }

  &__box {
    @include display();
    gap: 10px;
    flex-wrap: wrap;
    width:  100%;
    justify-content: start
  }


  &__level {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__level-warning {
    padding: 3px 0px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 15px;
    color: var(--colorOpacityBlack);
    font-weight: 500;
  }

  &__level-box {
    @include display();
    width: 100%;
    justify-content: start;
    gap: 10px;
  }

  &__levels-text {
    padding: 3px 5px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 15px;
    color: white;
    font-weight: 600;
    opacity: 0.4;
  }

  .low , .medium, .high {
    position: absolute;
    right: 10px;
    top: 13px;
    opacity: 1 !important;
  }

  .low {
    background-color: var(--colorGreen) !important;
  }

  .medium {
    background-color: rgb(255, 140, 0) !important;
  }

  .high {
    background-color: red !important;
  }

  &__levels-text:nth-child(1) {
    background-color: var(--colorGreen)
  }
  &__levels-text:nth-child(2) {
    background-color: rgb(255, 140, 0);
  }
  &__levels-text:nth-child(3) {
    background-color: red;
  }

  &__button {
    @include button(var(--colorUser), white, 20px, 10px);
    @include hoverOn();
    width: 100%;
    border-radius: 4px;
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  &__inputs {
    width: 100%;
    outline: none;
    padding: 8px 3px;
    border: 1px solid var(--colorUser);
    font-family: "Open Sans";
    font-size: 12px;
    color: var(--colorDarkGray);
    border-radius: 4px;
  }

  &__inputs::placeholder {
    color: var(--colorDarkGray);
  }

  &__textarea {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 120px;
    max-width: 100%;
    min-width: 250px;
    outline: none;
    padding: 8px 3px;
    border: 1px solid var(--colorUser);
    font-family: "Open Sans";
    font-size: 12px;
    color: var(--colorDarkGray);
    border-radius: 4px;
  }

  &__title {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 100;
    color: var(--colorBlack);
  }

  &__text {
    font-family: "Open Sans";
    font-size: 14px;
    color: var(--colorOpacityBlack);
  }

  &__right {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    // width: 100%;
    background-color: var(--colorGray);
    flex-grow: 2;
    max-width: calc(3000px - 430px);
    padding: 20px 0px;
    border-radius: 5px;
    border: 1px solid var(--colorUser);
    width: 70%;
  }

  &__right-top {
    @include display();
    width: 100%;
    padding: 0px 30px 14px 35px;
    border-bottom: 1px solid var(--colorOpacityBlack);
  }

  &__right-icons {
    width: 50px;
    height: 50px;
    color: var(--colorUser);
  }

  &__right-title {
    font-family: "Open Sans";
  }

  &__right-top-box {
    @include display();
    flex-direction: column;
    align-items: start !important;
    gap: 5px;
  }

  &__right-text,
  &__trash-text {
    @include display();
    gap: 3px;
    font-family: "Open Sans";
    font-size: 14px;
    background-color: var(--colorUser);
    padding: 4px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    opacity: 0.8;
  }

  &__right-text-second {
    background-color: var(--colorGreen);
  }

   &__right-text-third {
    background-color: var(--colorGreen);
  }
   &__right-text-fiveth {
    background-color: rgb(255, 140, 0);
  }
   &__right-text-fourth {
    background-color: red;
  }


  &__trash-text {
    @include display();
    justify-content: start;
    align-items: center;
    position: absolute;
    top: -30px;
    right: 0px;
    min-width: 90px;
    // background-color: transparent;
    color: var(--colorBlack);
    background-color: var(--colorUserOpacity);
  }

  &__items-text-span {
    background-color: var(--colorUser);
    padding: 2px 6px;
    border-radius: 2px;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600
  }

  &__hide-text {
    @include display();
    @include hoverOn();
    justify-content: center;
    // width: 100px;
    background-color: var(--colorUser);
    padding: 2px 15px;
    border-radius: 2px;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;

  }

  &__right-inputform {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 35px;
  }

  &__right-input,
  &__trash-input {
    font-family: "Open Sans";
    padding: 8px 4px;
    // width: 90%;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px -10px var(--colorOpacityBlack);
  }

  &__trash-input {
    position: relative;
    width: 35px;
    height: 23px;
    padding: 4px 0px;
  }

  &__right-top-trash {
    @include display();
    justify-content: end;
    position: relative;
    gap: 5px;
    // width: 70%;
    flex-grow: 2;
  }

  &__right-input-label {
    @include hoverOn();
    // background-color: red;
    padding: 10px 12px;
    border-radius: 4px;
    font-family: "Open Sans";
    color: var(--white);
    background-color: var(--colorUser);
  }

  &__right-top-box {
    @include display();
  }

  &__remove {
    @include hoverOn();
    width: 20px;
    height: 23px;
  }

  &__main {
    @include display();
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 0px 35px;
  }

  &__items {
    @include display();
    position: relative;
    width: 100%;
    background-color: var(--white);
    padding: 4px 10px;
    min-height: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px -14px var(--colorOpacityBlack);
  }

  &__search-span-text {
    color: var(--colorUserYellow);
  }

  &__items-text {
    font-family: "Open Sans";
    font-weight: 700;
    max-width: 700px;
    width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    line-height: 24px;
  }

  // &__items:nth-child(2){
  //   order: -1;
  //   background-color: var(--colorUserOpacity);
  //   transform: scale(1.01);
  // }

  &__high-text {
    color: var(--colorUserYellowOpacity);
  }

  &__items-box {
    @include display();
    justify-content: start;
    flex-grow: 1;
  }
}

@media (max-width: 900px) {
  .task {
    flex-wrap: wrap;
    &__left {
      width: 100%;
      max-width: none;
    }

    &__textarea {
      min-width: 100px;
    }

    &__right-top {
      gap: 35px;
      justify-content: end;
      flex-wrap: wrap;
      padding: 0px 15px 14px 15px;
    }

    &__right-top-box {
      width: 100%;
      justify-content: start;
      flex-wrap: wrap;
      gap: 3px;
    }

    &__right-title {
      width: 80%;
    }

    &__right-inputform {
      flex-wrap: wrap;
      padding: 0px 15px;
    }

    &__right-input-label {
      @include display();
      width: 100%;
      justify-content: center;
    }

    &__main {
    padding: 0px 15px;
    }
  }
}
