.about {
  @include display();
  position: absolute;
  top: 60px;
  right: 150px;
  align-items: start;
  flex-direction: column;
  justify-content: start !important;
  background-color: var(--colorDarkGray);
  padding: 10px;
  z-index: 4;
  border-radius: 5px;
  visibility: hidden;
  &__box {
    padding: 5px 0px;
  }

  &__box svg {
    width: 30px;
    height: 30px;
  }

  &__text {
    position: relative;
    bottom: 3px;
    font-family: "Open Sans";
    font-size: 14px;
  }
}
